:root {
  --red: #ef5a6f;
  --light-beige: #fff1db;
  --dark-beige: #d4bdac;
  --blue: #536493;
  --background-beige: #fffbf4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background-beige);
}

body {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: var(--blue);
  transition: 0.3s;
}

a:hover {
  color: var(--red);
}

ol,
ul {
  list-style-position: inside;
}

h1,
h2,
h3 {
  font-family: sans-serif;
}

p,
li,
li a {
  font-size: 21px;
}

.content {
  width: 1024px;
  min-height: 100vh;
  padding: 16px;
}

.page-content {
  padding: 16px;
}

/* Fixed Header */
.main-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 64px;
  background-color: var(--background-beige);
  padding: 0 16px;
}

.main-header h1 {
  cursor: default;
  margin-right: auto;
}

.main-header nav {
  display: flex;
  gap: 10px;
}

.main-header nav a {
  text-decoration: none;
  color: var(--dark-beige);
  transition: 0.3s;
}

.main-header nav .active {
  color: var(--red);
}

.main-header nav a:hover {
  color: var(--red);
}

/* Mobile */
@media (max-width: 980px) {
  .main-header {
    flex-direction: column;
  }

  .main-header h1 {
    margin: 0;
  }
}
