.index__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-height: 720px;
}

.index__content h2 {
  text-align: center;
}

.index__content p {
  text-align: justify;
}

/* Mobile */
@media (max-width: 980px) {
  .index__content {
    height: fit-content;
  }
}
